<div class="instructions">

	<nav class="navbar navbar-inverse">
		<a class="navbar-brand">Upload students to your school</a>
	</nav>

	<div class="instruction-container">
		<h4>1. Your student spreadsheet should look like the example below. Only CSV files are accepted.</h4>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-2" ng-repeat="(key, value) in ctrl.popover">{{ctrl.popover[key].name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="col-md-2"
						ng-repeat="(key, value) in ctrl.popover track by $index">
						<div style="cursor: pointer;"
							uib-popover="{{ctrl.popover[key].body}}"
							uib-popover-title="{{ctrl.popover[key].title}}"
							popover-trigger="mouseenter"
							popover-placement="bottom">
								<span ng-if="ctrl.popover[key].sampleData">{{ctrl.popover[key].sampleData}}</span>
								<span ng-if="!ctrl.popover[key].sampleData">&nbsp;</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="instruction-container">
				<h4>2.
				<a ng-href="{{ctrl.template}}" download="content.csv" class="btn btn-lg btn-info">Download the student spreadsheet template</a>
				</h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="instruction-container dashed" file-drop config="{ types: [{ type: 'text/csv', description: 'CSV' }, { type: 'application/vnd.ms-excel', description: 'CSV' }, {type: 'csv', description: 'CSV'}], maxSize: 1 }" callback="ctrl.upload">
				<div class="drag-and-drop-text">
				</div>
				<h4>3. Drag your student spreadsheet here, or<br>select a CSV file to upload</h4>
				<div file-read types="[{ type: 'text/csv', description: 'CSV' }, { type: 'application/vnd.ms-excel', description: 'CSV' }, {type: 'csv', description: 'CSV'}]" callback="ctrl.upload">
					<button class="btn btn-lg btn-primary">{{ some.fileName || 'Select a file to upload' }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
