<form #codeForm="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error' : !codeModel.valid && codeModel.touched }">
      <!-- <span class="input-group-btn">
				<button [routerLink]="['/auth/main']" type="button" class="btn pull-left">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</button>
			</span> -->
			<label class="font-weight-normal" for="code">Enter Your Code:</label>
			<input
				coreAutofocus
				name="code"
				[(ngModel)]="code"
				type="text"
				class="form-control border-width-1px"
				id="code"
				minLength="5"
				pattern="[a-zA-Z0-9 ]+"
				required
				ngControl="code"
				placeholder="Example: 12345ABCDE" #codeModel="ngModel">
			<span
				*ngIf="!codeModel.valid && codeModel.touched"
				class="input-error pull-right glyphicon glyphicon-remove"></span>
			<span
				*ngIf="codeModel.valid"
				class="input-valid pull-right glyphicon glyphicon-ok"></span>
      <!-- <span class="input-group-btn">
				<button (click)="handleClick()" type="submit" class="btn pull-right">
					<span class="glyphicon glyphicon-arrow-right"></span>
				</button>
			</span> -->
		</div>

		<div *ngIf="!codeModel.valid && codeModel.touched" class="error-message">
			<div class="validation-message">
				<span>Please enter a valid code.</span>
			</div>
		</div>

		<div class="fix-bottom">
			<button [routerLink]="['/auth/main']" type="button" class="btn btn-default">Back</button>
			<button [disabled]="!codeModel.valid" (click)="handleClick()" type="submit" class="btn btn-primary pull-right">Next</button>
		</div>

</form>
