<div class="text-center">

	<h3><strong>Code: {{code}}</strong></h3>

	<br>

	<div *ngIf="noSeats && !isStudentReset">
		<h4>Sorry, all seats have been taken.<br>Please try another code!</h4>
	</div>

	<div *ngIf="!noSeats && !isStudentReset && order.book_name" class="margin-top-5px">
		<h4>
			This code gives you {{userType}} access for use at <br/>{{schoolInfo.name}}
		</h4>
	</div>

	<div *ngIf="isStudentReset">
		<h4>Please confirm that this is your code. If it is, click Next.</h4>
	</div>

	<div *ngIf="error">
		<h4>Sorry, we didn&apos;t recognize that code. Please try again.</h4>
	</div>

	<div class="fix-bottom">
		<div class="margin-top-5px small">
			<span>If this is incorrect, contact us at <a href="mailto:kbsupport@perfectionlearning.com?Subject=Hello%20again" target="_top">kbsupport@perfectionlearning.com</a>.</span>
		</div>
		<br>
		<button [routerLink]="['/auth/code']" type="button" class="pull-left btn btn-default">Back</button>
		<button [disabled]="error || noSeats" type="submit" (click)="handleClick()" class="pull-right btn btn-primary">Next</button>
	</div>

</div>
