@VALID_COLOR: #8AEC98;
@NOT_MODIFIED_COLOR: red;
@INVALID_COLOR: orange;
@MODIFIED_COLOR: #18bc9c;

.grid-correct-invalid {
  background: @INVALID_COLOR;
  color: #fff;
}
.grid-correct-modified {
  background: @MODIFIED_COLOR;
  color: #fff;
  height: 40px; // todo: fix this hack
}
.grid-correct-flash {
  height: 30px; width: 32px;
  background: #f8f8f8;
  border: 1px solid #f1f1f1;
  i {
    margin-left: 5px;
    margin-top: 3px;
    font-size: 20px;
    color: #000;
  }
}
.grid-correct-popover-container {
	position: static; // absolute;
	width: inherit;
	height: 100%;
}
.grid-correct-header {
  position: absolute;
  top: 9px;
  right: 55px;
  i {
    font-size: 20px;
  }
}
