<div
	class="ui-grid-cell-contents ui-grid-cellNav"
	ng-class="{ 'grid-correct-invalid': invalid, 'grid-correct-modified': (modified && !dirty && !invalid) }">
	<div class="grid-correct-popover-container"
		ng-if="invalid"
		uib-popover="{{popover.body}}"
		popover-append-to-body="true"
		popover-placement="bottom"
		popover-trigger="mouseenter"><span class="pull-left">{{value}}</span>
		<div ng-click="resolve(value)" ng-if="showBolt" class="grid-correct-flash pull-right">
			<i class="glyphicon glyphicon-flash"></i>
		</div>
		<div ng-if="modified && !dirty" ng-click="revert(value)" class="grid-correct-flash pull-right">
			<i class="glyphicon glyphicon-repeat"></i>
		</div>
	</div>
	<div ng-if="!invalid"><span class="pull-left">{{value}}</span>
		<div ng-if="modified && !dirty" ng-click="revert(value)" class="grid-correct-flash pull-right">
			<i class="glyphicon glyphicon-repeat"></i>
		</div>
	</div>
</div>
