<div id="modalPanel" class="container-fluid">

	<div class="flexWrapper">
		<div class="flexHeight panel panel-primary">

			<!-- HEADER -->
			<div class="panel-heading">
				Drop Lowest Grades
			</div>

			<!-- BODY -->
			<div class="panel-body">

				<div id="dropLowest">
					<div class="dropAlign">
						Drop the
						<input type="number" ng-blur="ctrl.validate()" ng-model="ctrl.drop.count" pattern="\d+" required class="form-control dropBox">
						lowest grade<span ng-if="ctrl.drop.count !== 1">s</span>
						from these assignment types:
					</div>

					<div class="dropList col-sm-8">
						<div ng-repeat="entry in ::ctrl.fieldList" class="checkbox">
							<label>
								<input type="checkbox" ng-change="ctrl.validate()" ng-model="ctrl.drop[entry.model]">
								<div class="dropLabel">{{entry.name}}</div>
							</label>
						</div>

					</div>

					<div id="dropImage" class="col-sm-4">
						<span class="glyphicon glyphicon-trash emboss"></span>
					</div>

					<div class="clearfix"></div>

				</div>


				<!-- Instructions -->
				<div class="popupInstructions">
					<span class="glyphicon glyphicon-info-sign instructIcon"></span>
					Set the number of grades to drop from gradebook totals.
				</div>

			</div>

			<!-- OKAY / CANCEL -->
			<div class="panel-footer clearfix">
				<button ng-click="ctrl.close()" class="btn btn-sm btn-info pull-right prButtonSpacer">Done</button>
			</div>

		</div>
	</div>

</div>