<form novalidate>
	<div [ngSwitch]="view">
		<div *ngSwitchCase="'answer'">
			<div class="form-group">
				<label class="font-weight-normal" for="securityAnswer">Answer the security questions to reset your password.<br>
					<strong>{{questions[num]}}</strong>:</label>
				<input
					coreAutofocus
					type="text"
					class="form-control border-width-1px"
					id="securityAnswer"
					[ngModelOptions]="{standalone: true}"
					[(ngModel)]="answers[num]"
					pattern="[a-zA-Z0-9 ]+"
					placeholder="Enter your answer"
					required
					#answerModel="ngModel">
				<span
					*ngIf="!answerModel.valid && answerModel.touched"
					class="input-error pull-right glyphicon glyphicon-remove"></span>
				<span
					*ngIf="answerModel.valid"
					class="input-valid pull-right glyphicon glyphicon-ok"></span>
				<div *ngIf="!answerModel.valid && answerModel.touched" class="validation-message">
					<span>Please enter the answer you supplied for this question.</span>
				</div>
			</div>
			<div class="fix-bottom">
				<button type="button" [routerLink]="['/auth/login/password']" class="pull-left btn">Back</button>
				<button
					[disabled]="!answerModel.valid"
					(click)="handleClick(answerModel)"
					type="submit"
					class="btn btn-primary pull-right">Next</button>
			</div>
		</div>

		<div *ngSwitchCase="'errorTooManyAttempts'">
			<div class="form-group">
				<div class="text-center">
					<h4>Sorry, but you've exceed the maximum attempts to try answering your security questions. The answers to your security questions were invalid.<br>An e-mail has been sent to your teacher notifying them. Please contact your teacher to reset your password.</h4>
				</div>
				<div class="fix-bottom">
					<button type="button" [routerLink]="['/auth/main']" class="pull-left btn">Back</button>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'errorInvalidResponse'">
			<div class="form-group">
				<div class="text-center">
					<h4>Sorry, but the answers to your security questions were not correct. Please try again.</h4>
				</div>
				<div class="fix-bottom">
					<button type="button" (click)="reset()" class="pull-left btn">Back</button>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'errorNoQuestions'">
			<div class="form-group">
				<div class="text-center">
					<h4>Sorry, but there are no security questions set up on your account. Please contact your teacher to reset your password.</h4>
				</div>
				<div class="fix-bottom">
					<button type="button" [routerLink]="['/auth/user/username']" class="pull-left btn">Back</button>
				</div>
			</div>
		</div>
	</div>
</form>
