<form (ngSubmit)="updatePassword()" novalidate>

	<div [ngSwitch]="view">

		<div *ngSwitchCase="'password'">
			<div class="form-group">
				<label class="font-weight-normal" for="createPassword">Enter Your New Password:</label>
				<input
					coreAutofocus
					[(ngModel)]="user.password"
					ngControl="password"
					pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$"
					type="password"
					class="form-control border-width-1px"
					name="password"
					required
					placeholder="Create your password" #passwordModel="ngModel">
				<span
					*ngIf="!passwordModel.valid && passwordModel.touched"
					class="input-error pull-right glyphicon glyphicon-remove"></span>
				<span
					*ngIf="passwordModel.valid"
					class="input-valid pull-right glyphicon glyphicon-ok"></span>
			</div>
			<div class="alert alert-info" role="alert">
				<span>Passwords must be at least 6 characters long, and include a lowercase letter, uppercase letter and number. No special characters are allowed.</span>
			</div>
			<!-- <div *ngIf="!passwordModel.valid && passwordModel.touched" class="validation-message">
				<span>Passwords must meet the requirements outlined above.</span>
			</div> -->
			<div class="fix-bottom">
				<button [routerLink]="['/auth/main']" type="button" class="btn btn-default">Back</button>
				<button
					[disabled]="!passwordModel.valid"
					(click)="view = 'repeatPassword'"
					type="submit"
					class="btn btn-primary pull-right">Next</button>
			</div>
		</div>

		<div *ngSwitchCase="'repeatPassword'">
			<div class="form-group">
				<label class="font-weight-normal" for="repeatPassword">Repeat Your New Password:</label>
				<input
					coreAutofocus
					[(ngModel)]="user.repeatPassword"
					ngControl="repeatPassword"
					pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$"
					type="password"
					class="form-control border-width-1px"
					name="repeatPassword"
					required
					placeholder="Re-enter your password" #repeatPasswordModel="ngModel">
				<span
					*ngIf="(user.password !== user.repeatPassword) && repeatPasswordModel.touched"
					class="input-error pull-right glyphicon glyphicon-remove"></span>
				<span
					*ngIf="(user.password === user.repeatPassword)"
					class="input-valid pull-right glyphicon glyphicon-ok"></span>
				<div *ngIf="(user.password !== user.repeatPassword) && repeatPasswordModel.touched" class="validation-message">
					<span>Passwords don&apos;t match.</span>
				</div>
			</div>
			<div class="fix-bottom">
				<button (click)="view = 'password'" type="button" class="btn btn-default">Back</button>
				<button
					[disabled]="(user.password !== user.repeatPassword)"
					type="submit"
					class="btn btn-primary pull-right">Next</button>
			</div>
		</div>

		<div *ngSwitchCase="'imported'">
			<div class="text-center">
				<h4>Kitaboo User?<br>We&apos;ll send an email to you with a link to reset it.</h4>
			</div>
			<div class="fix-bottom">
				<button [routerLink]="['/auth/login/password']" type="button" class="btn btn-default">Back</button>
				<button (click)="sendToEmail()" class="btn btn-primary pull-right">Next</button>
			</div>
		</div>

		<div *ngSwitchCase="'confirmSendToEmail'">
			<div class="text-center">
				<h4>Forgot your password?<br>We&apos;ll send an email to you with a link to reset it.</h4>
			</div>
			<div class="fix-bottom">
				<button [routerLink]="['/auth/login/password']" type="button" class="btn btn-default">Back</button>
				<button (click)="sendToEmail()" class="btn btn-primary pull-right">Next</button>
			</div>
		</div>

		<div *ngSwitchCase="'sent'">
			<div class="text-center">
				<h4>Please check your email for a password reset link and follow the enclosed instructions.</h4>
			</div>
		</div>

		<div *ngSwitchCase="'error'">
			<div class="text-center">
				<h4>We were unable to reset your password. Please try again.</h4>
			</div>
			<div class="fix-bottom">
				<button [routerLink]="['/auth/user/reset']" class="btn pull-left">Back</button>
				<button class="btn btn-primary pull-right" (click)="sendToEmail()">Resend Email</button>
			</div>
		</div>

		<div *ngSwitchCase="'errorSecurityQuestions'">
			<div class="text-center">
				<h4>Click Back to try again. If you do not remember the answers to your security questions, contact your teacher to reset your password.</h4>
			</div>
			<div class="fix-bottom">
				<button [routerLink]="['/auth/user/security']" [queryParams]="{}" class="btn pull-left">Back</button>
			</div>
		</div>

		<div *ngSwitchCase="'errorUpdateStudent'">
			<div class="text-center">
				<h4>Sorry, this code is incorrect. Please check your code and try again. If it still doesn&apos;t work, please contact your teacher.</h4>
			</div>
			<div class="fix-bottom">
				<button [routerLink]="['/auth/main']" [queryParams]="{}" class="btn pull-left">Back</button>
			</div>
		</div>

		<div *ngSwitchCase="'success'">
			<div class="text-center">
				<h4>We have successfully updated your password.</h4>
				<button type="button" class="btn btn-primary" (click)="handleLogin()">Continue</button>
			</div>
		</div>

	</div>
</form>
