.bookshelf {
  display:grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-gap: 50px;
}
.book-section {
  clear:both;
  margin:10px 0;
  border-bottom:1px dotted green;
}
.bookshelf-divider {
   color:#09f;
   border-bottom:1px dotted #f90;
   margin-bottom:10px;
}
.book-frame {
  width: 100%;
  height: 100vh;
}
iframe {
  border: none;
}
