<!-- Main Panel -->
<div id="rightPanel" class="fullSize">
		<nav class="navbar navbar-inverse">
			<div class="footerGroup pull-left filter-no-list-box">
				<div class="navbar-brand">Gradebook</div>
				<!-- <div class="class-menu" class-menu></div> 
					Assignment Type dropdown: only for FPP classes
				<div ng-if="isFppClass" class="navbar-brand">Assignment Type</div>
				<div ng-if="isFppClass" class="assignment-type-menu" assignment-type-menu></div> -->
			</div>
	
			<div class="btn-group pull-right">
				<a class="gradebook-export btn btn-primary btn-sm pull-left"  download="content.csv">Done</a>
			</div>
		</nav>
	
			<div>
				<div class="panel-group" id="accordionWrapper">
	
							<!-- Plan and Organize Ideas Start-->
							<div class="panel panel-default">
								<div class="panel-heading accordianHeading" data-target="#collapse1">
									<h4 class="panel-title">
										Plan and Organize Ideas
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse ">
									<div class="panel-body" ng-include src="'./app/modules/assignments/components/gradebook/gradebook/plan_organise_data.html'">
										
									</div>
								</div>
							</div>
							<!--Plan and Organize Ideas End-->
				
							<!-- Write First Draft Start-->
							<div class="panel panel-default">
								<div class="panel-heading accordianHeading" data-target="#collapse2">
									<h4 class="panel-title">
										Write First Draft
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body" ng-include src="'./app/modules/assignments/components/gradebook/gradebook/writeFirst.html'">
										
									</div>
								</div>
							</div>
							<!-- Write First Draft End-->
				
				
							<!-- Evaluate and Review Start-->
							<div class="panel panel-default">
								<div class="panel-heading accordianHeading" data-target="#collapse3">
									<h4 class="panel-title">
										Evaluate and Review
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse">
									<div class="panel-body" ng-include src="'./app/modules/assignments/components/gradebook/gradebook/evaluate_review.html'" >
									</div>
								</div>
							</div>
							<!-- Evaluate and Review End-->
				
				
							<!-- Share and Edit Start-->
							<div class="panel panel-default">
								<div class="panel-heading accordianHeading" data-target="#collapse4">
									<h4 class="panel-title">
										Share & Edit
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse">
									<div class="panel-body" ng-include src="'./app/modules/assignments/components/gradebook/gradebook/share_edit.html'">
										
									</div>
								</div>
							</div>
							<!-- Share & Edit End-->
				
							<!-- Publish Start-->
							<div class="panel panel-default">
								<div class="panel-heading accordianHeading" data-target="#collapse5">
									<h4 class="panel-title">
											Publish
									</h4>
								</div>
								<div id="collapse5" class="panel-collapse collapse">
									<div class="panel-body" ng-include src="'./app/modules/assignments/components/gradebook/gradebook/publish.html'">
										
									</div>
								</div>
							</div>
							<!-- Publish End-->
						</div>
	
				
	
			</div>
	
			
		</div>
	</div>
	