<!-- Main Panel -->
<div id="rightPanel" class="fullSize">
	<nav class="navbar navbar-inverse">
		<div class="footerGroup pull-left filter-no-list-box">
			<div class="navbar-brand">Gradebook for</div>
			<div class="class-menu" class-menu></div>
			<!-- Assignment Type dropdown: only for FPP classes -->
			<div ng-if="isFppClass" class="navbar-brand">Assignment Type</div>
			<div ng-if="isFppClass" class="assignment-type-menu" assignment-type-menu></div>
		</div>

		<div class="btn-group pull-right">
			<a class="gradebook-export btn btn-primary btn-sm pull-left" ng-href="{{ctrl.exportCSV}}" download="content.csv">Export</a>
		</div>
	</nav>

		<div class="col-md-12" style="padding: 0;">

			<div ng-if="ctrl.ready" style="margin-top: -10px;" class="gradebook-grid grid-container">
				<div
					ng-if="!loading"
					id="grid"
					ui-grid="gridOptions"
					ui-grid-exporter
					ui-grid-pinning
					class="grid ">
					<div class="grid-no-results-container" ng-if="!gridOptions.data.length || noAssignments">
						<h2 class="grid-no-results">Once students begin working on assignments, they will appear in your gradebook</h2>
					</div>
				</div>
			</div>

		</div>

		<div class="custom-csv-link-location">

			<span class="ui-grid-exporter-csv-link">&nbsp</span>
		</div>
	</div>
</div>
