.dueModal>.modal-dialog {
	width: 700px;
}

#dueTimeLabel {
	margin-top: 40px;
	margin-right: 8px;
	font-weight: bold;
}

.dueActive>input {
	background-color: yellow;
}

.dueSetting {
	font: 16px Arial;
}

#leadTimeInput {
	width: 32px;
	height: 32px;
	display: inline;
	padding: 0 4px;
	margin: 0 4px;
}

.dueHR {
	margin-bottom: 0;
}

.dueH4 {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 16px;
}

#dueHead1 {
	font-size: 18px;
	margin-top: -4px;
	margin-bottom: 12px;
}

.dsTopSpacer {
	margin-top: 8px;
}

.timeAlign {
	margin-top: 42px;
	margin-right: 10px;
	font: 18px Arial;
}

.dueBox {
	border: solid 1px #BED6EB;
	border-radius: 12px;
	margin-bottom: 10px;
	padding: 0 12px;
	width: 49%;
}

.prButtonSpacer {
	margin-right: 6px;
}

.checkbox input{
	cursor: pointer;
}

.dueLabel {
	font-size: 16px;
}
