<div id="modalPanel" class="container-fluid">

	<div class="">
		<div class=" panel panel-primary">

			<!-- HEADER -->
			<div class="panel-heading">
				Sample email
			</div>

			<!-- BODY -->
			<div class="panel-body">

				<div class="instructions">
					<span class="glyphicon glyphicon-info-sign instructIcon"></span>
					This is a sample email explaining how students can register for the product. Copy and paste the below text into an email to students.
					<hr>
						<b>Note:</b> If usernames and passwords have been created for students by administration, and students have been added to classes, you do not need to send the registration code. Instead, send students their login information and have them sign into the product.
				</div>

				<div class="sample_email well">

					<p>
						To register for:
					</p>
					<p>
						<b>Class</b>:   Algebra 1 Advanced<br/>
						<b>Teacher</b>: Kathy Cross<br/>
					</p>
					<p>Go to <a href>http://www.kineticmath.com</a>.
					</p>
					<p> Enter the registration code:
						<b>ULOTH BEAPA</b>
					</p>


				</div>

			</div>

			<!-- OKAY / CANCEL -->
			<div class="panel-footer clearfix">
				<button ng-click="continue()" class="btn btn-info pull-right stdDialogBtnSpacer">Done</button>
			</div>

		</div>
	</div>

</div>
