<div class="dialog">
  <div class="modal-header">
    <h4 class="modal-title center">{{ctrl.dlg.title}}</h4>
  </div>
	<div class="modal-body" ng-init="auto = true">
    <p class="text-center">This will reset the login code for all of the selected students.</p>
    <p class="text-center" ng-show="auto">We will auto-generate the login codes for you. Or, click <a href ng-click="auto = false;">here</a> to specify a login code.</p>
    <p class="text-center" ng-show="!auto">To auto-generate the codes instead, click <a href ng-click="auto = true;">here</a>.</p>
    <div ng-show="!auto">
      <p class="help-text" style="border-radius: 2px;">Codes must be at least 6 characters long, and include a lowercase letter, uppercase letter and number. No special characters are allowed.</p>
      <br/>
      <div ng-form="passwordForm" class="form-group" ng-class="{ 'has-error': passwordForm.password.$invalid && passwordForm.password.$touched }">
    		<input
          ng-model="ctrl.password"
          name="password"
          required
          ng-pattern="Config.validation.password.regex"
          type="password"
          class="form-control"
          placeholder="New Code" />
      </div>
  	</div>
  </div>
  <div class="modal-footer center">
    <button type="button" ng-disabled="!auto && passwordForm.password.$invalid" class="btn btn-primary" ng-click="continue()">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <!--
    <button type="button" class="btn btn-primary" ng-click="validatePassword()">Save</button>
    -->
  </div>
</div>
