<div class="fullSize">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <h2 class="panel-title text-center"><b>{{ctrl.dlg.title}}</b></h2>
        </header>

        <div class="panel-body">
            <h4 class="dialog text-center">{{ctrl.dlg.msg}}</h4>
            <div class="model-footer pull-right">
                <button type="button" class="btn btn-success" ng-click="continue()">OK</button>
                <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>

</div>
