<div>
  <div class="dialog dialog-print">
    <div>
      <div ng-repeat="class in data track by $index">
        <div class="row" style="margin: 0; padding: 0" ng-repeat="i in getNumber(rowCount) track by $index">
          <div class="col-xs-4 dialog-print-container" ng-if="class.registration || class.registration_code">
            <p>Go to <a href="//mathx.perfectionlearning.com">http://mathx.perfectionlearning.com</a><br>
              <b>Registration code: {{class.registration || class.registration_code}}</b>
            </p>
          </div>
          <div class="col-xs-8">
            <br>
            <p>This registration code will add and give you access to the class <b>{{class.name}}</b> with teacher {{class.teacher}}.</p>
          </div>
          <div class="clearfix dialog-print-border"></div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix dialog-print-border"></div>
    </div>
  </div>
</div>
