<div class="panel-group" id="accordionWrapper">
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse1">
			<h4 class="panel-title">
				Ideas
			</h4>
		</div>
		<div id="sub_collapse1" class="panel-collapse collapse sub_collapse ">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.ideas.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.ideas">

					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>
					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','ideas',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','ideas',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','ideas',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','ideas',$index)">Cancel</a>
					</div>

					<div class="col-sm-12" ng-if="ques.type == 'check' && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.ideas.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','ideas')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.ideas.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse2">
			<h4 class="panel-title">
				Organizations
			</h4>
		</div>
		<div id="sub_collapse2" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.organization.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.organization">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','organization',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','organization',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','organization',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','organization',$index)">Cancel</a>
					</div>
					<div class="col-sm-12" ng-if="ques.type == 'check'  && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.organization.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','organization')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.organization.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse3">
			<h4 class="panel-title">
				Voice
			</h4>
		</div>
		<div id="sub_collapse3" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.voice.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.voice">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','voice',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','voice',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','voice',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','voice',$index)">Cancel</a>
					</div>


					<div class="col-sm-12" ng-if="ques.type == 'check'  && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.voice.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','voice')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.voice.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse4">
			<h4 class="panel-title">
				Word Choice
			</h4>
		</div>
		<div id="sub_collapse4" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.wordChoice.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.wordChoice">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','wordChoice',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','wordChoice',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','wordChoice',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','wordChoice',$index)">Cancel</a>
					</div>


					<div class="col-sm-12" ng-if="ques.type == 'check' && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.wordChoice.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','wordChoice')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.wordChoice.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse5">
			<h4 class="panel-title">
				Sentence Fluency
			</h4>
		</div>
		<div id="sub_collapse5" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.sentenceFluency.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.sentenceFluency">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','sentenceFluency',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','sentenceFluency',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','sentenceFluency',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','sentenceFluency',$index)">Cancel</a>
					</div>


					<div class="col-sm-12" ng-if="ques.type == 'check' && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.sentenceFluency.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','sentenceFluency')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.sentenceFluency.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse6">
			<h4 class="panel-title">
				Coventions
			</h4>
		</div>
		<div id="sub_collapse6" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.conventions.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.conventions">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','conventions',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','conventions',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','conventions',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','conventions',$index)">Cancel</a>
					</div>


					<div class="col-sm-12" ng-if="ques.type == 'check'  && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.conventions.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','conventions')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.conventions.length">No Record Found</div>
			</div>
		</div>
	</div>
</div>