<div class="panel-group" id="accordionWrapper">
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse1">
			<h4 class="panel-title">
				Organization, Structure, and Focus
			</h4>
		</div>
		<div id="sub_collapse1" class="panel-collapse collapse sub_collapse ">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.organization_structure_and_focus.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.organization_structure_and_focus">

					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>
					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','organization_structure_and_focus',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','organization_structure_and_focus',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','organization_structure_and_focus',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','organization_structure_and_focus',$index)">Cancel</a>
					</div>

					<div class="col-sm-12" ng-if="ques.type == 'check' && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.organization_structure_and_focus.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','organization_structure_and_focus')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.organization_structure_and_focus.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse2">
			<h4 class="panel-title">
				Content and Development of Ideas
			</h4>
		</div>
		<div id="sub_collapse2" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.content_and_development_of_ideas.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.content_and_development_of_ideas">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','content_and_development_of_ideas',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','content_and_development_of_ideas',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','content_and_development_of_ideas',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','content_and_development_of_ideas',$index)">Cancel</a>
					</div>
					<div class="col-sm-12" ng-if="ques.type == 'check'  && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.content_and_development_of_ideas.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','content_and_development_of_ideas')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.content_and_development_of_ideas.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse3">
			<h4 class="panel-title">
				Use of Language
			</h4>
		</div>
		<div id="sub_collapse3" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.use_of_language.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.use_of_language">
					<div class="col-sm-10" ng-if="ques.heading" style="font-size:16px;margin-bottom: 10px" ng-style="{ 'margin-top':($index > 0)?'15px':'0px' }" ng-bind-html="ques.heading"></div>
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','use_of_language',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','use_of_language',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','use_of_language',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','use_of_language',$index)">Cancel</a>
					</div>


					<div class="col-sm-12" ng-if="ques.type == 'check'  && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.use_of_language.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','use_of_language')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.use_of_language.length">No Record Found</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading accordianSubHeading" data-target="#sub_collapse4">
			<h4 class="panel-title">
				Conventions
			</h4>
		</div>
		<div id="sub_collapse4" class="panel-collapse collapse sub_collapse">
			<div class="panel-body">
				<div ng-if="details.assignmentData.studentSelfAssessment.conventions.length" class="col-sm-12 marginBtm15 padding0" ng-repeat="ques in details.assignmentData.studentSelfAssessment.conventions">
					<div class="col-sm-10" ng-if="!ques.edit" ng-bind-html="ques.qText"></div>
					<div class="col-sm-10" ng-if="ques.edit">
						<input class="form-control height35 marginTop10" ng-model="ques.editValue" type="input">
					</div>


					<div class="col-sm-2" ng-if="ques.custom  && !ques.edit">
						<a class="editBtn right glyphicon glyphicon-trash" href="" ng-click="details.deleteCustomQuest('studentSelfAssessment','conventions',$index)"></a>
						<a class="editBtn right glyphicon glyphicon-pencil" href="" ng-click="details.editCustomQuest('studentSelfAssessment','conventions',$index)"></a>
					</div>
					<div class="col-sm-2 padding0" ng-if="ques.edit">
						<a class="customBtn marginRight10" href="" ng-click="details.updateCustomQuest('studentSelfAssessment','conventions',$index)">Update</a>
						<a class="customBtn" href="" ng-click="details.cancelCustomQuest('studentSelfAssessment','conventions',$index)">Cancel</a>
					</div>


					<div class="col-sm-12" ng-if="ques.type == 'check' && !ques.edit">
						<span class="marginRight15" ng-repeat="option in ques.options">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="option.ans" value="option.ans">
								<span ng-bind-html="option.value"></span>
							</label>
						</span>
					</div>

				</div>
				<div class="col-sm-12 padding0" ng-if="details.assignmentData.studentSelfAssessment.conventions.length">

					<div class="col-sm-10">
						<input class="form-control height35 marginTop10" ng-model="details.customQues.qText" type="input">
					</div>

					<a class="addBtn" href="" ng-click="details.addCustomQuest('studentSelfAssessment','conventions')">Add</a>


				</div>
				<div class="col-sm-12 padding0" ng-if="!details.assignmentData.studentSelfAssessment.conventions.length">No Record Found</div>
			</div>
		</div>
	</div>


</div>