<nav class="navbar navbar-inverse">
	<a class="navbar-brand">{{edit.assignName}}</a>
	<div preference-menu items="['showStandards', 'showImages']"></div>
</nav>

	<div ng-if="!edit.loading" mathjax>
		<div ng-hide="edit.assign && edit.assign.length" id="emptyAssignment">The assignment is currently empty.</div>
		<ul id="sortable" class="list-group"
			drag-scroll
			ng-mousemove="captureMouse()"
			data-as-sortable="sortOptions"
			data-ng-model="edit.assign">
			<li ng-repeat="problem in edit.assign"
				class="list-group-item repeat-anim"
				data-as-sortable-item
				mathjax-repeat>
				<table><tr>
					<td ng-show="!edit.readonly" class="handle" data-as-sortable-item-handle>
						<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
					</td>

					<td class="editProbItem">
						<div class="probID" ng-if="edit.doShowIDs()">ID: {{problem.probID}}</div>

						<div ng-bind-html="problem.vtp.prefix" class="qPrefix"></div>
						<span ng-bind-html="problem.vtp.q" class="q"></span>
						<div ng-if="edit.hasChoices(problem)" ng-bind-html="edit.formatChoices(problem.vtp.choices)"></div>
						<div ng-if="edit.doShowImage(problem)">
							<qimg qi-data="problem.vtp.overlays" ng-src="{{problem.qImg}}">
						</div>

					</td>

					<td class="badgeAlign">
						<span ng-repeat="std in ::problem.standards" ng-if="edit.showStd(std.classid)"
							  class="badge badgeAlign">
							{{std.code}}
						</span>
					</td>

					<td ng-if="edit.doShowIcons()">
						<div class="editIcons">
							<span ng-repeat="icon in problem.icons" class="iconSpacer glyphicon icon {{icon.icon}}"
								  aria-hidden="true" uib-tooltip="{{icon.tip}}" tooltip-trigger="mouseenter"></span>
						</div>
					</td>

					<td class="editInput editPoints" style="padding-top: 15px;">
						<span>Points</span>
						<span ng-show="edit.readonly">{{problem.points}}</span>
						<form ng-show="!edit.readonly" name="ptsForm" novalidate>
							<div
								class="form-group"
								ng-class="{ 'has-error' : ptsForm.pts.$invalid && ptsForm.pts.$touched }"
								popover-title="Points"
								popover-placement="left"
								popover-trigger="mouseenter"
								uib-popover="Points must be a number with no more than two decimal places. Problems must be between 1 and 100 points.">
								<input
									name="pts"
									ng-disabled="edit.hasSubmissions"
									ng-model="problem.points"
									ng-blur="edit.setPoints(problem, ptsForm.pts.$valid)"
									required
									ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-min="1" ng-max="100" step=".01"
									type="number"
									class="form-control editInput">
							</div>
						</form>
					</td>

					<td class="editInput editQty" style="padding-top: 15px;">
						<span>Quantity</span>
						<span ng-show="edit.readonly">{{problem.qty}}</span>
						<form ng-show="!edit.readonly" name="qtyForm" novalidate>
							<div
								class="form-group"
								ng-class="{ 'has-error' : qtyForm.qty.$invalid && qtyForm.qty.$touched }"
								popover-enable="edit.canSetQty(problem)"
								popover-title="Quantity"
								popover-placement="left"
								popover-trigger="mouseenter"
								uib-popover="Quantity must be a whole number. The maximum amount of variations allowed is 10.">
							<input name="qty"
								ng-model="problem.qty"
								ng-blur="edit.setQuantity(problem, qtyForm.qty.$valid)"
								ng-disabled="!edit.canSetQty(problem)"
								required
								ng-pattern="/^[1-9]\d*$/" ng-min="1" ng-max="10"
								type="number"
								class="form-control editInput">
							</div>
						</form>
					</td>

					<td ng-show="!edit.readonly" class="editClose">
						<span ng-click="edit.remove(problem); edit.checkValid();" class="glyphicon glyphicon-remove-circle removeButton"
							  aria-hidden="true"></span>
					</td>

				</tr></table>
			</li>
		</ul>
	</div>
