@import './../../../../core/less/definitions.less';
@import './../../../../core/less/anims.less';

#rightPanel>.panel {
	& > .panel-heading {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

#rightPanel {
	.navbar.shared-list {
		margin-bottom: 0;
	}
}

.rightHeader {
	font-size: @medium-text;
	padding-top: 5px;
}

#listOpts {
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	margin-top: 4px;
}

#listOpts:hover {
	color: white;
	text-shadow: 0 0 16px yellow;
}

#assignContainer .titlePad {
	padding: 10px 15px;
}

.shortBottom {
	margin-bottom: 0;
}

select.form-control {
	margin-right: 8px;
}

#prod-selector {
	select.form-control {
		margin-left: 12px;
	}
}

.activeHeader {
	background-color: @active-bar-bg;
}

.missingStd {
	color: red;
}

span.success {
	color: green;
}
span.warning {
	color: orange;
}

span.danger {
	color: red;
}

.pointer {
	cursor: pointer;

	.transition(all cubic-bezier(@easeParams) @fastEaseRate);
}

.pointer:hover {
	color: @highlight-color;
}

.studentName {
	font: @medium-text @base-font;
	color: white;
	padding: 6px;
	border-radius: 4px;
}
.whiteBG {
	background-color: white;
	color: black;
}

.footerTitle {
	font: bold @medium-text @base-font;
	margin-right: 8px;
}

.redIcon {
	color: red;
	margin-left: 3px;
}

.blackText {
	color: black;
}

#gradeAll {
	margin-left: 12px;
}

span.rightSpacer {
	margin-right: 4px;
}

.filterButton {
}

.reportInstructions {
	margin-bottom: 5px;
}

.instructIcon {
	color: @highlight-color;
	font-size: 1.2em;
	vertical-align: text-bottom;
}

.detailCategory {
	margin-bottom: 6px;
}
.detailTitle {
	font-weight: bold;
}

.line1 {
	font-weight: bold;
	color: #31b0d5;
}

.line2 {
	font-weight: bold;
	color: green;
}

h4.graphTitle {
	margin-left: 64px;
}

h4.tableTitle {
	margin-left: 9px;
}

.shortImage {
	height: 400px;
}

.alert-section {
	background-color: #CAEDE1;
	border: 1px solid #B4D1C7;
	color: #157564;
}

.btn-group {
	.display-flex;
}

.standardCol {
	width: 30%;
}

.sortHead {
	cursor: pointer;
}

.typeIcon {
	color: #999;
}

.stdCol {
	width: 10%;
}

.deleteName {
	font: 20px @base-font;

	margin-top: 10px;
	margin-bottom: 20px;
}

.detailLabel {
	font-weight: bold;
	padding-right: 10px;
}

#assignmentTable {
	td {
		vertical-align: middle!important;
	}
}

.tooltip-inner{
		max-width: 300px;
}

#shared-assignments-list{
	.ui-grid-header-cell .sortable {
		outline: none!important;
	}

	.ui-grid-cell-contents {
		white-space: normal;
	}

	.ui-grid-header-cell-wrapper {
		text-align: left;
	}

	.grid-wrapper {
		position: relative;
		padding: 0;
	}

	&.grid-container {
		position: absolute;
    	top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-x: hidden;
		padding: 0;
		margin-right: 0;
	}


	.ui-grid-render-container-body .ui-grid-viewport {
		width: 100%;
	}

	.ui-grid-selection-row-header-buttons {
		opacity: 0.5;
	}

	a.editLink {
		text-decoration: none;
		color: #2c3e50;

		&:hover {
			color: #337ab7;
		}
	}

	.ui-grid-row-selected {
		a.editLink {
			text-decoration: none;
			color: #fff;

			&:hover {
				font-weight: bold;
			}
		}

		.typeIcon {
			color: #fff;
		}
	}
}


body table.zebra > tbody > tr.selectedRow {
	.transition(all cubic-bezier(@easeParams) @mediumEaseRate);

	background-color:#f39c12;
}

.tags-input {
	.tags {
	background-color: #fff;
	border-radius: 4px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		


		&.selected {
			background: #d9534f;
			border: 1px solid #d43f3a;
			border-radius: 4px;
			color: #fff;
		}

	}

	.autocomplete {
		border-radius: 4px;

		.suggestion-item.selected {
			color: #262626;
			background-color: #e9e9e9;
		}

	}
}

.tag-item {
	background-color: #428bca !important;
	background-image: none !important;
	border-radius: 4px;
	color: #fff;

	a.remove-button {
		background: transparent;
		color: white !important;
	}

}

.with-roll-over {
  overflow: visible;
  z-index: 9999999;
  float: left;
}

.with-roll-over {
  overflow: visible;
  z-index: 9999999;
  float: left;
}

