<div class="bookshelf-container">
	<nav class="navbar navbar-inverse">
		<a class="navbar-brand">Bookshelf for {{ctrl.name}}</a>
	</nav>

	<div ng-if="ctrl.courseBooks.length > 0" class="row">
		<div>
			<div class="bookshelf-divider">Books included in this class</div>
		</div>
		<div class="col-md-12 bookshelf">
      <bookshelf-item ng-repeat="book in ctrl.courseBooks track by $index" ng-model="book" />
		</div>
	</div>

	<div ng-if="ctrl.nonCourseBooks.length > 0" class="row">
		<div>
			<div class="bookshelf-divider">Additional titles available - Click to add to class</div>
		</div>
		<div class="col-md-12 bookshelf">
      <bookshelf-item ng-repeat="book in ctrl.nonCourseBooks track by $index" ng-model="book" toggle-fn="ctrl.toggleSelect(data)" />
		</div>
	</div>
</div>
