// test out some styles for the grid
// once approved these should be better-integrated (using at theme)
@table-header: #3498db;
@table-row: #fcfcfc;
@table-selected: #f39c12;
@table-background: #ecf0f1;
@table-row-zebra: lighten(@table-background, 3%); // darken(@table-row, 3%);
@table-no-results: lighten(@table-background, 3%); // darken(@table-row, 3%);

.ui-grid-row {
  &:hover {
    cursor: pointer;
  }
}
.ui-grid-top-panel {
  background: @table-header;
  color: #fff;
  font-size: 14px!important;
  text-align: center!important;
  border-radius: 0!important;
  height: 40px;
  line-height: 30px; // middle align
}
.ui-grid-menu {
  border-radius: 0;
  .ui-grid-menu-inner {
    background: #f3f3f3;
  }
}
.ui-grid-header-cell {
  border: 0!important;
}

.ui-grid-selection-row-header-buttons {
		opacity: 0.5;
	}

.ui-grid-cell {
  border: 0!important;
}

.ui-grid-cell-contents {
  border: 0!important;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border: 0!important;
}

.ui-grid-pager-panel { padding-top: 10px; }
.ui-grid-pager-control { margin-left: 0px; }

.ui-grid-row {
  &.ui-grid-row-selected {
    .ui-grid-cell {
      background: @table-selected!important;
      color: #fff!important;
    }
  }
  &:nth-child(odd) {
    .ui-grid-cell { background: @table-row-zebra; }
  }
  &:nth-child(even) {
    .ui-grid-cell { background: @table-row; }
  }
  .ui-grid-cell-contents {
    line-height: 30px; // middle aligns text
  }
}

.ui-grid-menu-button {
  background: transparent;
  color: #fff;
  border: 0!important;
  .ui-grid-icon-container { margin-top: 9px; }
  .ui-grid-menu {
    .ui-grid-menu-inner { border-radius: 0px; }
    color: #222;
  }
  .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid { overflow: hidden; }
}

.grid-no-results-container {
  .grid-no-results {
    padding-top: 52px;
    text-align: center;
    color: #cdcdcd;
    font-weight: 200;
  }
  background: @table-no-results;
  top: 0px;
  width: 100%;
  height: 200px;
  margin-top: 42px;
  position: absolute;
}

.grid-container {
  // position: absolute;
  height: ~'calc(100vh - 200px)';
  width: ~'calc(100% - 10px)';
  .ui-grid {
    border: none;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: @table-no-results;
    // height: 60vh; //~'calc(100% - 40px)';
  }
}
