<nav style="margin-bottom: 10px;" class="navbar navbar-inverse">
	<a class="navbar-brand">{{ctrl.view.name}}</a>
</nav>

<div class="col-md-12 no-padding no-margin" style="height: 100%;">

	<actions ctrl="ctrl"></actions>
	

	<div class="grid-container">
		<div id="grid"
			ng-if="!refresh && (ctrl.hideGridUntilAdminSelect === false)"
			ui-grid="ctrl.gridOptions"
			ui-grid-selection
			ui-grid-pagination
			ui-grid-auto-resize
			ui-grid-exporter
			class="grid">
			<div class="grid-no-results-container" ng-if="!ctrl.gridOptions.data.length">
				<h2 class="grid-no-results">{{ctrl.view.noResultsMessage || 'No results to display' }}</h2>
			</div>
			<div class="grid-no-results-container" ng-if="ctrl.showSearchFilter && ctrl.filteredOutAllResults === true">
				<h2 class="grid-no-results">No data matches current filter text</h2>
			</div>
			
		</div>
		<div class="grid-no-results-container" ng-if="ctrl.hideGridUntilAdminSelect === true">
				<h2 class="grid-no-results">Select a school from the above dropdown</h2>
		</div>
	</div>
</div>
