<div ng-if="showQuestions" style="float:left">
	<div class="changeImg" style="position:relative">
		<img ng-src="{{src}}">

		<div class="imgOverlay" ng-repeat="overlay in model" ng-style="{color:overlay.color, fontSize:overlay.size, left:overlay.x + 'px', top:overlay.y + 'px'}" ng-bind-html="overlay.text"></div>
	</div>
</div>
<div ng-if="showStandards" style="float:right">
  <span ng-repeat="std in ::problem.standards" xng-if="edit.showStd(std.classid)" class="badge badgeAlign">
  {{std.code}}
  </span>
</div>
<div style="clear:both">
