<div class="form-scroll" style="margin-left: 10px;">

	<nav class="navbar navbar-inverse">
		<a class="navbar-brand">Add a Class</a>
	</nav>

	<div ng-form="addClass" class="col-md-offset-1 form-horizontal" role="form">

    <schooldropdown ng-if="isPLCAdmin" show-label="true"></schooldropdown>

		<div ng-if="!isPLCAdmin" class="form-group" ng-class="{ 'has-error': addClass.school.$invalid && addClass.school.$touched }">
			<label for="nameField" class="col-sm-2 control-label">School:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" ng-if="!mustSelectSchool" disabled value="{{selected.school}}" />
				<select ng-if="mustSelectSchool"
					name="school"
					class="form-control"
					ng-change="setSchool(selected.school_id)"
					ng-options="school.school_id as school.name for school in schools"
					ng-model="selected.school_id">
					<option value="">Select a school</option>
				</select>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': addClass.teacher.$invalid && addClass.teacher.$touched }">
			<label ng-if="isTeacher && !isDistAdmin || districtSchoolSelected" for="nameField" class="col-sm-2 control-label">Teacher:</label>
			<label ng-if="isDistAdmin && !districtSchoolSelected" for="nameField" class="col-sm-2 control-label">*Teacher:</label>
			<div class="col-sm-7">
				<select
				  ng-if="isTeacher && !isDistAdmin"
				  disabled
					name="teacher"
					required
					class="form-control"
					ng-options="teacher.user_id as teacher.name for teacher in teachers"
					ng-model="selected.teacher">
					<option value="">Select a teacher</option>
				</select>
				<select
				  ng-if="isDistAdmin && districtSchoolSelected === false"
					name="teacher"
					required
					ng-disabled="selected.school === ''"
					class="form-control"
					ng-options="teacher.user_id as teacher.name for teacher in teachers"
					ng-model="selected.teacher">
					<option value="">Select a teacher</option>
				</select>
				<label class="switch-out-dropdown" ng-if="isDistAdmin && districtSchoolSelected === true">
					{{username}}
				</label>

			</div>
			<div ng-show="addClass.teacher.$invalid && addClass.teacher.$touched" class="validation-message col-md-2 col-xs-2">
				<span>A teacher is required.</span>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': addClass.name.$touched && addClass.name.$invalid }">
			<label for="nameField" class="col-sm-2 control-label">*Class Name:</label>
			<div class="col-sm-7">
				<input required ng-trim="false" ng-pattern="validation.className.regex" ng-model="class.name" name="name" type="text" class="form-control" placeholder="e.g., Algebra I, Period 2">
				<span class="glyphicon"
							ng-if="addClass.name.$touched"
							ng-class="{ 'glyphicon-ok' 	 : addClass.name.$valid,
							 					  'glyphicon-remove' : addClass.name.$invalid,
													'form-control-valid': addClass.name.$valid,
													'form-control-feedback': addClass.name.$invalid }">
				</span>
			</div>
			<div ng-show="addClass.name.$invalid && addClass.name.$touched" class="validation-message col-md-2 col-xs-2">
				<span>A name for the class is required. {{validation.className.text}}</span>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': addClass.license.$invalid && addClass.license.$touched }">
			<label for="nameField" class="col-sm-2 control-label">*License:</label>
			<div class="col-sm-7">
				<select
					name="license"
					required
					class="form-control"
					ng-options="license.product_id as license.license for license in studentLicenses"
					ng-model="selected.license">
					<option value="">Select a license</option>
				</select>
			</div>
			<div ng-show="addClass.license.$invalid && addClass.license.$touched" class="validation-message col-md-2 col-xs-2">
				<span>A license for the class is required.</span>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': addClass.number.$invalid && addClass.number.$touched }">
			<label for="number" class="col-sm-2 control-label">*Class ID:</label>
			<div class="col-sm-7">
				<input required ng-trim="false" ng-pattern="validation.classId.regex" ng-model="class.number" name="number" type="text" class="form-control" placeholder="A1P2_2016">
				<span class="glyphicon"
							ng-if="addClass.number.$touched"
							ng-class="{ 'glyphicon-ok' 	 : addClass.number.$valid,
							 					  'glyphicon-remove' : addClass.number.$invalid,
													'form-control-valid': addClass.number.$valid,
													'form-control-feedback': addClass.number.$invalid }">
				</span>
			</div>
			<div ng-show="addClass.number.$invalid && addClass.number.$touched" class="validation-message col-md-2 col-xs-2">
				<span>A class identifier is required. {{validation.classId.text}}</span>
			</div>
		</div>

		<!-- <div class="form-group"> -->
		<label for="startDate" class="col-sm-2 control-label">Start Date:</label>

		<div class="col-md-7">
			<div class="row">
				<div style="float: left;" class="col-md-5 input-group datepicker-right-align">
					<input
						name="startDate"
						style="margin-left: 5px;"
						class="datepicker-table-input form-control"
						readonly
						placeholder="Start Date"
						enable-time="false"
						datetime-picker="MM/dd/yy"
						ng-model="class.startDate"
						is-open="ctrl.calendar.data['add-class-start']"
						min-date="ctrl.calendar.today"
						datepicker-options="ctrl.calendar.options"
						when-closed="ctrl.calendar.open($event, 'add-class-end')" />
					</input>
					<span class="input-group-btn">
						<button type="button"
							ng-click="ctrl.calendar.toggle($event, 'add-class-start'); ctrl.calendar.close($event, 'add-class-end')"
							class="btn btn-default">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>

				<label for="numField" style="float: left;" class="col-md-2 control-label unpadded-label">End Date:</label>
				<div style="float: left; padding-right: 10px;" class="col-md-5 input-group datepicker-right-align">
					<input style="margin-right: 5px;"
						class="datepicker-table-input form-control"
						readonly
						enable-time="false"
						placeholder="End Date"
						datetime-picker="MM/dd/yy"
						ng-model="class.endDate"
						is-open="ctrl.calendar.data['add-class-end']"
						min-date="ctrl.calendar.today"
						datepicker-options="ctrl.calendar.options" />
					</input>
					<span class="input-group-btn">
						<button
							type="button"
							ng-click="ctrl.calendar.toggle($event, 'add-class-end'); ctrl.calendar.close($event, 'add-class-start');"
							class="btn btn-default">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<br>

		<div class="col-sm-9" style="padding-right: 10px;">
			<button
				type="submit"
				ng-disabled="addClass.$invalid"
				ng-click="create()" class="btn btn-primary pull-right">Submit</button>
		</div>

	</div>

</div>
