	<div class="col-sm-6 col-md-4 fullSize" id="agLeftPanel">

		<div class="">
			<div class="tabHeading">
				<button ng-click="choose.setTab($index)" ng-repeat="tab in ::choose.tabs" class="btn tab" ng-class="choose.getTabClass($index)">{{tab.tab}}</button>
			</div>

			<div class="" id="select-chapters-standards">
				<uib-accordion>
					<uib-accordion-group class="tab-anim" ng-click="choose.setHierarchy($index)" ng-repeat="entry in choose.hierarchy track by $index" is-open="entry.isOpen">
						<uib-accordion-heading>
							<div class="smallText">
								{{entry.fullName}}
							</div>
						</uib-accordion-heading>

						<ul class="list-group shortBottom">
							<li ng-click="choose.showProblems(child.id, child.code)" ng-repeat="child in entry.children track by child.id" ng-class="choose.getStdClass(child.id)" class="list-group-item hoverHighlight">
								<div ng-bind-html="child.fullName" class="smallerText"></div>
							</li>
						</ul>
					</uib-accordion-group>
				</uib-accordion>
			</div>
		</div>
	</div>

	<!-- Main Panel -->
	<div class="col-sm-6 col-md-8" id="agRightPanel">

		<nav class="navbar navbar-inverse">
			<a class="navbar-brand">{{choose.state.probSetName}}</a>
			<div preference-menu items="['showStandards', 'showImages']"></div>
		</nav>

			<div id="problem-list" class="" scroll-to-top-when="reset_problem_list">

				<div id="noProblems" ng-if="choose.isNoProblems()">
					No matching problems were found.
				</div>

				<ul mathjax ng-if="!choose.isNoProblems()" class="list-group"  style="visibility: hidden">
					<li mathjax-repeat ng-repeat="problem in choose.problems | orderBy: 'sortOrder' track by problem.id" ng-click="choose.toggleProblem(problem.id); choose.checkValid();" ng-class="choose.inAssignment(problem.id)" class="list-group-item chooseEntry">

						<table class="probLine">
								<td class="selectProbNum">
									<!--{{$index+1}}.-->
								</td>
								<td class="probQ">
									<div class="probID" ng-if="choose.doShowIDs()">ID: {{problem.id}}</div>
									<div ng-if="problem.vtp.prefix" ng-bind-html="choose.prefixWithProbNo(problem.vtp.prefix, $index+1)" class="qPrefix"></div>
									<span ng-bind-html="choose.questionWithProbNo(problem.vtp.prefix, problem.vtp.q, $index+1)"></span>
									<div ng-if="choose.hasChoices(problem)" ng-bind-html="choose.formatChoices(problem.vtp.choices)"></div>
									<div ng-if="choose.doShowImage(problem)"><qimg qi-data="problem.vtp.overlays" ng-src="{{problem.qImg}}"></div>
								</td>

								<td class="badgeAlign">
									<span ng-repeat="std in ::problem.standards" ng-if="choose.showStd(std.classid)" class="badge badgeSpacer">
										{{std.code}}
									</span>
								</td>

								<td class="probIcons" ng-if="choose.doShowIcons()">
									<span ng-repeat="icon in ::problem.icons" class="iconSpacer glyphicon icon {{icon.icon}}" aria-hidden="true" uib-tooltip="{{icon.tip}}" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-append-to-body="true"></span>
								</td>

								<td class="probBtn hoverHighlight">
									<span ng-class="choose.inAssignment(problem.id) ? 'rotate45' : ''" class="glyphicon glyphicon-plus selectToggle" aria-hidden="true"></span>
								</td>
							</tr>
						</table>

					</li>
				</ul>
			</div>
		</div>


</div> <!-- container -->
