<div id="mainContainer">
	<!-- Main Panel -->
	<div scroll-to-top-when="filter_change" style="background-color: #fff;">
		<div class="panel-body">
			<!-- If there's a single user, display the user name now -->
			<!--<div ng-if="!change.loading" id="titleBar">{{change.title}}</div>-->
			<nav class="navbar navbar-inverse">
				<span class="type-icon icon {{assignmentIcon(change.type)}}" uib-tooltip="{{change.capitalType}}" tooltip-placement="top"></span>
				<a class="navbar-brand">{{change.title}}, {{::change.userName}}</a>
				<div class="btn-group pull-right" uib-dropdown>
					<button ng-if="curFilter==='All'" type="button" ng-click="toggleFmt()" class="navbar-btn btn-info btn-sm">
						Score {{fmtScore}}
					</button>
					<button type="button" class="navbar-btn btn-info btn-sm dropdown-toggle" uib-dropdown-toggle>
						{{curFilter}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li ng-repeat="filter in filterList track by $index" ng-if="filter.show"
							ng-click="setFilter(filter.label)">
							<a href>{{filter.label}}</a></li>
					</ul>
					<div preference-menu items="['showQuestions', 'showStandards']"></div>
				</div>
			</nav>

			<div>
					<div class="panel-group" id="accordionWrapper">
		
								<!-- Plan and Organize Ideas Start-->
								<div class="panel panel-default">
									<div class="panel-heading accordianHeading" data-target="#collapse1">
										<h4 class="panel-title">
											Plan and Organize Ideas - <span ng-if="change.gradeBookData.plan.score == '' ">Needs Review</span> <span ng-if="change.gradeBookData.plan.score != '' ">Score {{ change.gradeBookData.plan.score }}</span>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse ">
										<div class="panel-body" ng-include src="'./app/modules/grade-change/components/change/gradebook/plan_organise_data.html'">
											
										</div>
									</div>
								</div>
								<!--Plan and Organize Ideas End-->
					
								<!-- Write First Draft Start-->
								<div class="panel panel-default">
									<div class="panel-heading accordianHeading" data-target="#collapse2">
										<h4 class="panel-title">
											Write First Draft - <span ng-if="change.gradeBookData.write.score == '' ">Needs Review</span> <span ng-if="change.gradeBookData.write.score != '' ">Score {{ change.gradeBookData.write.score }}</span>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body" ng-include src="'./app/modules/grade-change/components/change/gradebook/writeFirst.html'">
											
										</div>
									</div>
								</div>
								<!-- Write First Draft End-->
					
					
								<!-- Evaluate and Review Start-->
								<div class="panel panel-default">
									<div class="panel-heading accordianHeading" data-target="#collapse3">
										<h4 class="panel-title">
											Evaluate and Review - <span ng-if="change.gradeBookData.evaluate.score == '' ">Needs Review</span> <span ng-if="change.gradeBookData.evaluate.score != '' ">Score {{ change.gradeBookData.evaluate.score }}</span>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body" ng-include src="'./app/modules/grade-change/components/change/gradebook/evaluate_review.html'" >
										</div>
									</div>
								</div>
								<!-- Evaluate and Review End-->
					
					
								<!-- Share and Edit Start-->
								<div class="panel panel-default">
									<div class="panel-heading accordianHeading" data-target="#collapse4">
										<h4 class="panel-title">
											Share & Edit - <span ng-if="change.gradeBookData.share.score == '' ">Needs Review</span> <span ng-if="change.gradeBookData.share.score != '' ">Score {{ change.gradeBookData.share.score }}</span>
										</h4>
									</div>
									<div id="collapse4" class="panel-collapse collapse">
										<div class="panel-body" ng-include src="'./app/modules/grade-change/components/change/gradebook/share_edit.html'">
											
										</div>
									</div>
								</div>
								<!-- Share & Edit End-->
					
								<!-- Publish Start-->
								<div class="panel panel-default">
									<div class="panel-heading accordianHeading" data-target="#collapse5">
										<h4 class="panel-title">
												Publish - <span ng-if="change.gradeBookData.publish.score == '' ">Needs Review</span> <span ng-if="change.gradeBookData.publish.score != '' ">Score {{ change.gradeBookData.publish.score }}</span>
										</h4>
									</div>
									<div id="collapse5" class="panel-collapse collapse">
										<div class="panel-body" ng-include src="'./app/modules/grade-change/components/change/gradebook/publish.html'">
											
										</div>
									</div>
								</div>
								<!-- Publish End-->
							</div>
		
					
		
				</div>

		</div>
	</div>
</div> <!-- container -->
