<div id="myModal" class="modal fade gradeChangeModalWrapper studentReportModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="change.closePopup()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Score and Comment</h4>
            </div>
            <div class="modal-body">
                    <div class="scoreParent">
                            <div class="scoreCard">
                              <span class="sHeading">Score: </span>
                              <span class="studentScore">2/10</span>
                            </div>
                            <div class="commentCard">
                              <span class="sHeading">Comment: </span>
                              <span class="commentWrap">
                                <span class="studentComment">asasas</span>
                              </span>
                            </div>
                          </div>
               
            </div>
            
        </div>

    </div>
</div>