.settings-email-form {
  label {
    margin-top: 12px;
  }
  .form-control-feedback {
    right: 10px;
    top: 1px;
  }
  .validation-message {
    color: red;
    text-align: left;
    font-size: 11px;
  }
}
// To hide IE 11's black X at right of form (Bug 73588)
.form-control::-ms-clear {
  display:none;
}