<div class="container gradeContainer">
    <form>
        <div class="form-group">
            <label for="email">Title:</label>
            <input type="input" ng-model="change.gradeBookData.evaluate.title" class="form-control" placeholder="Title" disabled>
        </div>
        <div class="form-group">
            <textarea ck-editor class="form-control" ng-model="change.gradeBookData.evaluate.answer" rows="4" placeholder="" disabled></textarea>
        </div>
    </form>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Teacher Comment: </label>
            <div class="col-sm-10">
                <input ng-model="change.gradeBookData.evaluate.comment" type="input" class="form-control" placeholder="Topic Choice">
            </div>


        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Student Score:</label>
            <div class="col-sm-10 marginTop10">
                5 out of 20
                <a href="" ng-click="change.showReport('student')">See Report</a>
            </div>


        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Points: </label>
            <div class="col-sm-10">
                <div class="col-sm-4 padding0">
                    <div class="col-sm-4 padding0">
                        <input ng-model="change.gradeBookData.evaluate.score" ng-keydown="change.scoreKeyDown($event,change.gradeBookData.evaluate.outOfScore)"
                            type="number" class="form-control disabled" placeholder="0" max="{{change.gradeBookData.evaluate.outOfScore}}" disabled>
                           
                        </div>
                    <div class="col-sm-8 padding0">
                        <label class="col-sm-4 control-label paddingRight0" style="text-align: left">/ {{change.gradeBookData.evaluate.outOfScore}}  </label>
                        <a  class="displayInlineBlock marginTop10" href="" ng-click="change.showReport('teacher')">See Report</a>
                    </div>
                </div>
                <div class="col-sm-8">
                        <div class="evalQuestions">
                                <div class="questionsParent">
                                  <div class="questions">
                                    <div class="quesTitle">
                                      <div class="quesTitleText">{{change.currentTrait["name"]}}</div>
                                      <div class="bWrapper">
                                        <div class="next" ng-click="change.navigate('next')" ng-class="{'disabled':change.nextDisable}">►</div>
                                        <div class="panelNo">Trait {{(change.traitIndex+1)}} of {{change.trait.length}} (Questions {{change.questNo}} of {{change.studentSelfAssesment.totalQues}})</div>
                                        <div class="prev" ng-click="change.navigate('prev')" ng-class="{'disabled':change.prevDisable}">◄</div>
                                      </div>
                                    </div>
                                    <div class="questText">{{change.studentSelfAssesment[change.currentTrait["type"]][change.currentQues]["qText"]}}</div>
                                    <div class="questionOptions">
                                            <button type="button" class="btn btn-success" data-id='0' ng-class="{'selected':(change.studentSelfAssesment[change.currentTrait['type']][change.currentQues]['teacherScore']==4)}" ng-click="change.scoreQues(4)">Success</button>
                                            <button type="button" class="btn btn-info" data-id='1'ng-class="{'selected':(change.studentSelfAssesment[change.currentTrait['type']][change.currentQues]['teacherScore']==3)}" ng-click="change.scoreQues(3)">Think So</button>
                                            <button type="button" class="btn btn-warning" data-id='2' ng-class="{'selected':(change.studentSelfAssesment[change.currentTrait['type']][change.currentQues]['teacherScore']==2)}" ng-click="change.scoreQues(2)">Needs Work</button>
                                            <button type="button" class="btn btn-danger" data-id='3' ng-class="{'selected':(change.studentSelfAssesment[change.currentTrait['type']][change.currentQues]['teacherScore']==1)}" ng-click="change.scoreQues(1)">No Idea</button>
                                    
                                    </div>
                                  </div>
                                </div>
                              </div>


                </div>
            </div>


        </div>
    </form>
</div>