<div class="container gradeContainer">
    <form>
        <div class="form-group">
            <label for="email">Topic Choice:</label>
            <input ng-model="change.gradeBookData.plan.title" type="input" class="form-control" placeholder="Topic Choice" disabled>
        </div>
        <div class="form-group">
            <label for="">*Working focus statement:</label>
            <textarea ck-editor  ng-model="change.common.workingFocusStatement"  class="form-control" rows="4" placeholder="Focus statemnet here." disabled></textarea>
        </div>
        <div class="form-group">
            <label for="email">Audience:</label>
            <input ng-model="change.gradeBookData.plan.audience"  type="input" class="form-control" placeholder="Topic Choice" disabled>
        </div>

        <div class="form-group col-sm-2 padding0">
            <select disabled ng-model="change.dd" ng-options=" option.text for option in change.sample" class="form-control"></select>

        </div>
        <div class="form-group">
            <table class="table table-bordered gradebookTable">
                <thead>
                    <th>Date Started</th>
                    <th>Last Edit</th>
                    <th>Type</th>
                    <th>Title</th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">Activities displayed here when saved</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Teacher Comment: </label>
            <div class="col-sm-10">
                <input ng-model="change.gradeBookData.plan.comment" type="input" class="form-control" placeholder="Topic Choice">
            </div>


        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Points: </label>
            <div class="col-sm-10">
                    <div class="col-sm-1 padding0">
                <input ng-model="change.gradeBookData.plan.score" type="input" class="form-control" placeholder="0"> 
                </div>
                <div class="col-sm-11 padding0">    <label class="col-sm-2 control-label" style="text-align: left">/ 5</label></div>
            </div>
        </div>
    </form>
</div>